.x-boxselect.x-form-text {
	height: auto;
	cursor: text;
	padding: 0;
	overflow-y: auto;
}

.x-boxselect ul.x-boxselect-list {
	padding: 1px 3px;
	margin: 0px;
}

ul.x-boxselect-list.x-boxselect-singleselect {
	white-space: nowrap;
	overflow: hidden;
}

.x-boxselect input {
	border: none;
	background: none;
	line-height: 18px;
	height: 20px;
	width: 100%;
}

.x-boxselect-input,.x-boxselect-item {
	display: inline-block;
	position: relative;
	*display: inline; /* IE7 */
	zoom: 1; /* IE */
}

.x-boxselect-stacked .x-boxselect-item {
	display: block;
}

.x-boxselect-item {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	o-border-radius: 6px;
	khtml-border-radius: 6px;
	border: 1px solid #3892d3;
	padding: 0px 1px 0px 5px !important;
	margin: 1px 1px 1px 0;
	background-color: #bee3ef;
	cursor: default;
}

.x-field:not (.x-item-disabled ) .x-boxselect-item:hover {
	background: #3892d3;
	border: 1px solid #2C72A5;
	color: #fff;
	.
	x-boxselect-item-close
	{
	background-position
	:
	16px;
}

}
.x-field:not (.x-item-disabled ) .x-boxselect-item.selected {
	border: 1px solid #3892d3 !important; @ include
	background-gradient(#2C72A5, 'matte');
	color: #fff;
}

.x-boxselect-item-text {
	line-height: 22px;
	padding-right: 25px !important;
}

.x-boxselect-item-close {
	position: absolute;
	right: 4px;
	top: 3px;
	display: block;
	width: 16px;
	height: 16px;
	font-size: 1px;
	cursor: pointer;
	background: field/boxselect/boxselect-default-close.png;
}

.x-boxselect-item-close:hover {
	background-position: bottom;
}

.x-boxselect-hideselections .x-boundlist-selected {
	display: none;
}